<ul>
	<li><%= link_to 'Training', '/training' %></li>
	<li><%= link_to 'Framework', '/framework' %></li>
	<li><%= link_to 'FAQ', '/faq' %></li>
	<li><%= link_to 'Visual', '/visual_aid' %></li>
	<li><%= link_to 'Testimonials', '/testimonials' %></li>
	<li><%= link_to 'History', '/history' %></li>
</ul>
